.center {
    text-align: center;
    font-weight: bold;
}

.center {
    text-align: center;
}

.bg {
    background-image: url("../../assets/UTSB.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: 11.5%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.child {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebeb;
    padding: 2%;

}

.button {
    border-radius: 2px;
    background-color: #0f4beB;
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    padding: 3%;
    margin-top: 5%;
}

.subButton {
    background-color: transparent;
    color: #0f4beB;
    font-size: small;
    border: none;
    margin-top:3%;
}

.childs {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebeb;
    padding: 2%;
    padding-left: 4.22%;
    padding-right:4.32%;
}