
.title {
    font-size: 50px;
    width: 500px
}

/*Availability page link*/
#Availability2 {
    background-color: #38dd00;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    text-decoration-color: #38dd00;
    color: white;
    font-weight: bold;
    position: relative;
    left: 100%;
    width: 100px;
    height: 75px;
    white-space: normal;
    padding-top: 10px;
}

<<<<<<< HEAD
#Availability2:hover {
=======
/* button change state */
#Availability:hover {
>>>>>>> 456d067e177fc15fba196c93736eababa45a558c
    background-color: #2aa400;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration-color: #2aa400;
    font-weight: bold;
    position: relative;
    left: 100%;
    width: 100px;
    height: 75px;
    white-space: normal;
    padding-top: 10px;
}

/*edit specific availability link*/
#EditSpecificAvailability {
    background-color: #0f4beB;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    text-decoration-color: #38dd00;
    color: white;
    font-weight: bold;
    position: relative;
    white-space: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
    #EditSpecificAvailability:hover {
        background-color: #4d91ff;
        border: 3px solid black;
        text-align: center;
        font-size: 30px;
        color: white;
        text-decoration-color: #4d91ff;
        font-weight: bold;
        position: relative;
        white-space: normal;
        margin-top: 10px;
        margin-bottom: 20px;
    }
=======
/* button change state */
#EditSpecificAvailability:hover {
    background-color: #4d91ff;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration-color: #2aa400;
    font-weight: bold;
    position: relative;
    white-space: normal;
}
>>>>>>> 456d067e177fc15fba196c93736eababa45a558c

/*formatting heading*/
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    max-width: 600px;
}

/*table edit button*/
.edit2 {
    background-color: #ebebeb;
    border: 3px solid black;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    position: relative;
    width: 100px;
    height: 75px;
    white-space: normal;
}

.edit2:hover {
    background-color: #b2b2b2;
    border: 3px solid black;
    text-align: center;
    text-decoration-color: #b2b2b2;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    position: relative;
    width: 100px;
    height: 75px;
    white-space: normal;
}

/*table delete button*/
.delete {
    background-color: #FF9B00;
    border: 3px solid black;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    position: relative;
    width: 100px;
    height: 75px;
    white-space: normal;
}

.delete:hover {
<<<<<<< HEAD
    background-color: #e6a034;
    border: 3px solid black;
    text-align: center;
    text-decoration-color: #e6a034;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    position: relative;
    width: 100px;
    height: 75px;
    white-space: normal;
}

/*table settings*/
#table{
    margin-top: 20px;
}

td{
    text-align: center;
}

th {
    text-align: center;
}
=======
    
}
>>>>>>> 456d067e177fc15fba196c93736eababa45a558c
