.table-drag-select {
	/* Stretch horizontally to fill parent */
	width: 100%;
	max-width: 500px;
	/* Keep columns same width */
	table-layout: fixed;
	/* Disable text selection */
	user-select: none;
	/* Center in parent */
	margin-left: 0;
	/* Remove space between border */
	border-collapse: collapse;
}

	/* Table cells */
	.table-drag-select td {
		text-align: center;
		/* Cut off long strings of text with ... */
		text-overflow: ellipsis;
		overflow: hidden;
		/* Make transparent gaps between cells. Better than relying on margin
   * because clicking an element's margin doesn't trigger events */
		background-clip: padding-box;
		/* Make cells reasonable size */
		line-height: 2rem;
		/* Shows more text when text too big to fit into cell */
		padding-left: 0rem;
		padding-right: 0rem;
	}

		/* Cells that can be interacted with */
		.table-drag-select td.cell-enabled {
			background-color: #FFF;
			/* Make the cursor a + symbol */
			cursor: cell;
			border: 2px solid black;
		}

		/* Cells that cannot be interacted with */
		.table-drag-select td.cell-disabled {

		}

		/* Cells that have been selected */
		.table-drag-select td.cell-selected {
			background-color: #4d91ff;
		}

		.table-drag-select .cell-selected td.cell-being-selected {
			background-color: #fff !important;
		}

		/* Cells that are in the process of being selected */
		.table-drag-select td.cell-being-selected {
			background-color: #4d91ff;
			border: 2px solid #4d91ff;
		}


#editbutton {
	background-color: #0f4beB;
	border: 3px solid black;
	text-align: center;
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	position: relative;
	left: 80%;
	bottom: 90%;
	width: 100px;
	white-space: normal;
}

#editbutton:hover {
	background-color: #4d91ff;
	border: 3px solid black;
	text-align: center;
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	position: relative;
	left: 80%;
	bottom: 90%;
	width: 100px;
	white-space: normal;
}

#SpecificAvailability {
	background-color: #ebebeb;
	border: 3px solid black;
	text-align: center;
	font-size: 20px;
	color: black;
	padding: 5px 10px;
	position: relative;
	left: 70%;
	bottom: 90%;
	width: 200px;
	white-space: normal;
}

#SpecificAvailability:hover {
	background-color: #b2b2b2;
	border: 3px solid black;
	text-align: center;
	font-size: 20px;
	color: black;
	padding: 5px 10px;
	position: relative;
	left: 70%;
	bottom: 90%;
	width: 200px;
	white-space: normal;
}